/* You can add global styles to this file, and also import other style files */
//@use "@picocss/pico/scss/pico";
//
@use 'tailwindcss';

@keyframes loading {
  0% { transform: translateX(-100%); }
  50% { transform: translateX(50%); }
  100% { transform: translateX(100%); }
}
